---
import ProjectHolder from "../components/ProjectHolder.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import {Icon} from 'astro-icon';

import projectsData from "../utilities/projectsData";
import toolsData from "../utilities/toolsData";
---

<style lang="scss">
	.main-header{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 5rem;

		h1{
			text-align: center;
		}
	}

	.main-nav{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		width: min(40rem, 80%);
		align-items: stretch;
		gap: 1.5rem 2rem;
	}

	:global(.main-nav > a){
		border-radius: 5px;
		padding: 0.5rem;
		border: 2px solid transparent;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		column-gap: 0.5rem;
		text-decoration: none;
		flex: 1 0 0;
		white-space: nowrap;
		transition: 100ms all ease-in;
	}

	.nav-icon{
		width: 2rem;
		aspect-ratio: 1 / 1;
	}

	main{
		width: min(70rem, 90%);
		display: flex;
		flex-direction: column;
		row-gap: 20vh;
		margin-inline: auto;
		margin-bottom: 30rem;
	}

	h2{
		color: var(--color-light);
		clip-path: polygon(0 17%, 100% 0, 100% 83%, 0 100%);
		padding: 1rem;
	}

	.about-me-section{
		position: relative;
		display: grid;
		background-color: var(--color-friend);
		border-radius: 5px;
		box-shadow: 5px 7px 15px -5px var(--color-sdark);
		padding: 2rem;
		gap: 0.75rem;
		grid-template-areas:
		"self-pict self-title"
		"self-pict self-desc"
		"self-social self-social";

		& > img{
			grid-area: self-pict;
			width: 20rem;
			margin-block: auto;
			aspect-ratio: 1 / 1;
		}

		& > h2{
			background-color: var(--color-about-me);
			grid-area: self-title;
			width: max-content;
			height: min-content;
			margin-block: auto;
		}

		& > .about-me-desc{
			grid-area: self-desc;
			text-align: justify;
		}

		& > .social-info{
			grid-area: self-social;
			background-color: var(--color-about-me);
			border-radius: 5px;
			padding: 0.25rem 0.5rem;
			display: flex;
			flex-flow: row wrap;
			gap: 0.5rem;
			align-items: center;
			margin-left: auto;

			span, .social-icon{
				color: var(--color-light);
			}

			.social-icon{
				width: 2rem;
				aspect-ratio: 1 / 1;
			}
		}
	}

	.projects-section{
		// border: 3px solid green;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 2rem;
		padding: 1.5rem;

		& > h2{
			background-color: var(--color-projects);
			margin-inline: auto;
			margin-bottom: 2vh;
		}
	}

	.tools-section{
		display: flex;
		flex-direction: column;
		align-items: center;
		
		& > h2{
			background-color: var(--color-tools);
			margin-bottom: 5vw;
		}

		.icons-container{
			align-self: stretch;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			gap: 1.5rem;
		}

		.icons-container > a{
			width: max(4rem, 7vw);
			aspect-ratio: 1 / 1;
		}

		.icons-container .tools-icon{
			transition: 100ms all ease-in-out;
		}
	}

	footer{
		height: 20vh;
		padding: 2rem;
		clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
		background-color: var(--color-friend);
		display: grid;
		place-content: center start;
	}

	@media only screen and (max-width: 700px){
		.about-me-section{
			grid-template-areas: 
			"self-title"
			"self-pict"
			"self-desc"
			"self-social";
			place-items: center;

			& > img{
				width: max(10rem, 70%);
			}
		}
	}
</style>

<BaseLayout pageTitle="Alvin's Site">
	<header class="main-header">
		<h1>Alvin Adler <br/> Web Developer</h1>
		<nav class="main-nav">
			<a href="#about-me-section" class="nav-holder-about-me"><Icon name="mdi:face-man" class="nav-icon"/>About Me</a>
			<a href="#projects-section" class="nav-holder-projects"><Icon name="mdi:trophy" class="nav-icon"/>Projects</a>
			<a href="#tools-section" class="nav-holder-tools"><Icon name="mdi:tools" class="nav-icon"/>Tools</a>
		</nav>
	</header>
	<main class="main-content">
		<section class="about-me-section" id="about-me-section">
			<img src="/images/selfPhoto.png" alt="Alvin">
			<h2>About Me</h2>
			<div class="about-me-desc">
				<p>Hi! My name is Alvin and I am a front-end web developer who specialize in react-based applications. I have been diving into the world of web development since 2020 and has been enhancing my skills ever since.</p>
				<p>I love helping other developers who are struggling with their project or probably just have a question regarding a simple programming problem. This habit gave me new experiences working with other people's code and sometimes solving problems that I have not encountered before.</p>
				<p>What do I do outside of the programming world? I am a huge fan and a player of <a href="https://honkaiimpact3.hoyoverse.com/global/en-us/home">Honkai Impact 3rd</a> and I highly recommend you to check them out! I am also a chess player and has beaten a <a href="https://en.wikipedia.org/wiki/Hikaru_Nakamura">very famous chess player</a> in one of my dreams.</p>
			</div>
			<div class="social-info">
				<span>Psst! Know me more here!</span>
				<div>
					<a href="https://www.linkedin.com/in/alvinadler/"><Icon name="mdi:linkedin" class="social-icon"/></a>
					<a href="https://github.com/alvinAdler"><Icon name="mdi:github" class="social-icon"/></a>
				</div>
			</div>
		</section>
		<section class="projects-section" id="projects-section">
			<h2>Projects</h2>
			{projectsData.map((data) => (
				<ProjectHolder 
				projectAbb={data.projectAbb}
				projectTitle={data.projectTitle}
				projectDesc={data.projectDesc}
				/>
			))}
		</section>
		<section class="tools-section" id="tools-section">
			<h2>Tools</h2>
			<div class="icons-container">
				{toolsData.map((tool) => (
					<a href={tool.href}>
						<Icon name={tool.iconifyName} class={`tools-icon ${tool.extraClass}`}/>
					</a>
				))}
			</div>
		</section>
	</main>
	<footer>
		<p>Site powered by: Astro</p>
		<p>&#169;Alvin Adler</p>
	</footer>
</BaseLayout>