---
const { pageTitle } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <title>{pageTitle}</title>
</head>

<style lang="scss">
    $projectColors: (
        "github": var(--color-ops),

        "linkedin": #0961B8,
        "html": #D94924,
        "css": #2760E5,
        "bootstrap": #7610ED,
        "js": #E4D04B,
        "react": #5CCFEE,
        "astro": #F15802,
        "mui": #0179F2,
        "node": #70A55E,
        "mysql": #4F7B98,

        "express": var(--color-ops),

        "mongodb": #419341,
        "git": #E34C2F,
    );

    $navIconColors: (
        "about-me": #2285E4,
        "projects": #EB4034,
        "tools": #17AD3A
    );
    
    :root{
        --color-light: #FAFAFA;
        --color-dark: #2B2B2B;
        --color-slight: #D6D6D6;
        --color-sdark: #1B1B1B;

        --color-primary: var(--color-light);
        --color-secondary: var(--color-slight);
        --color-text: var(--color-dark);
        --color-ops: var(--color-dark);
        --color-friend: var(--color-slight);

        --color-about-me: #2285E4;
        --color-projects: #EB4034;
        --color-tools: #17AD3A;

        --color-github: var(--color-ops);
        --color-linkedin: #0961B8;
        --color-html: #D94924;
        --color-css: #2760E5;
        --color-bootstrap: #7610ED;
        --color-js: #E4D04B;
        --color-react: #5CCFEE;
        --color-astro: #F15802;
        --color-mui: #0179F2;
        --color-node: #70A55E;
        --color-mysql: #4F7B98;
        --color-express: var(--color-ops);
        --color-mongodb: #419341;
        --color-git: #E34C2F;
    }

    @media (prefers-color-scheme: dark){
        :root{
            --color-primary: var(--color-dark);
            --color-secondary: var(--color-sdark);
            --color-text: var(--color-slight);
            --color-ops: var(--color-light);
            --color-friend: var(--color-sdark);
        }
    }

    @each $colorName, $val in $projectColors{
        :global(.color-#{$colorName}:hover){
            color: #{$val};
            border-color: #{$val};
        }
    }

    @each $navName, $val in $navIconColors{
        :global(.nav-holder-#{$navName}){
            border-radius: 5px;
            padding: 0.5rem;
            border: 2px solid transparent;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 0.5rem;
            text-decoration: none;
            flex: 1 0 0;
            white-space: nowrap;
            position: relative;
            transition: 150ms color ease-in-out;
        }

        :global(.nav-holder-#{$navName}:hover){
            color: $val;
        }

        :global(.nav-holder-#{$navName}::before, 
        .nav-holder-#{$navName}::after){
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            border: 3px solid transparent;
        }

        :global(.nav-holder-#{$navName}:hover::before){
            top: -3px;
            left: -3px;
            animation: 250ms animate1-#{$navName} forwards;
        }

        :global(.nav-holder-#{$navName}:hover::after){
            bottom: -3px;
            right: -3px;
            animation: 250ms  animate2-#{$navName} 250ms forwards;
        }

        @keyframes animate1-#{$navName}{
            0%{
                border-top-color: #{$val};
                border-right-color: #{$val};
                width: 0;
                height: 0;
            }
            
            50%{
                border-top-color: #{$val};
                border-right-color: #{$val};
                width: 100%;
                height: 0;
            }
            
            100%{
                border-top-color: #{$val};
                border-right-color: #{$val};
                width: 100%;
                height: 100%;
            }
        }

        @keyframes animate2-#{$navName}{
            0%{
                border-bottom-color: #{$val};
                border-left-color: #{$val};
                width: 0;
                height: 0;
            }
            
            50%{
                border-bottom-color: #{$val};
                border-left-color: #{$val};
                width: 100%;
                height: 0;
            }
            
            100%{
                border-bottom-color: #{$val};
                border-left-color: #{$val};
                width: 100%;
                height: 100%;
            }
        }
    }

    :global(*){
        box-sizing: border-box;
    }

    html, body{
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        scroll-padding-top: 20vh;
    }

    body{
        background-color: var(--color-primary);
    }

    :global(h1, h2, h3, span, p, a){
        color: var(--color-text);
        font-family: "Signika", Arial, Helvetica, sans-serif;
        margin: 0;
    }

    :global(button){
        font-family: "Signika", Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    :global(p){
        line-height: clamp(1.5rem, 3vh, 2rem);
        margin-bottom: 1rem;
    }

    :global(.custom-hr){
        border-color: var(--color-ops);
        opacity: 0;
    }
</style>

<body>
    <slot/>
</body>
</html>